@charset 'utf-8';

*{
  margin:0 auto;
  border:none;
  padding:0;
}
.clear_fix::after{
  content:'';
  display:block;
  clear:both;
}
.fl_left{
  float:left;
}
.fl_right{
  float:right;
}
ul,li,ol{
  list-style:none;
}
a{
  text-decoration:none;
  color:#333;
}
.row{
  width:1200px;
}
address{
  font-style:normal;
}