@charset 'utf-8';

*{
  margin:0;
  padding:0;
  border:none;
  font-weight:normal;
  color:black;
}
.clear_fix::after{
  content:'';
  display:block;
  clear:both;
}
.fl_left{
  float:left;
}
.fl_right{
  float:right;
}